/*Global changes*/
a {
  color: #b82222;
  text-decoration: underline;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #dadada;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #dadada;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #dadada;
}

/*Layout Styles for Projects*/
body.page-node-type-project h1.page-title{
  margin: 0;
}

body.page-node-type-project div.block-content-edit-link {
  margin-bottom: 30px;
}

body.page-node-type-project div.block-content-edit-link a {
  visibility: hidden;
  font-size: 0;
  text-decoration: none;
}

body.page-node-type-project div.block-content-edit-link a::before {
  content: "Edit this Project";
  visibility: visible;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid #636363;
  padding: 10px 25px;
}

body.page-node-type-project div.layout--twocol-section--75-25
div.layout__region--second div.block-content-edit-link {
  height: 100%;
}

body.page-node-type-project div.layout--twocol-section--75-25
div.layout__region--second div.content {
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  padding-right: 5px;
}

body.page-node-type-project .block-field-blocknodeprojectfield-doi {
  float: left;
  border-right: 1px solid black;
  padding: 0 10px 0 0;
  margin-right: 20px;
}

body.page-node-type-project .block-field-blocknodeprojectbody div.text-formatted {
  margin-top: 20px;
  float: left;
}

body.page-node-type-project .field--type-daterange {
  margin-top: 20px;
}

body.page-node-type-project .field--type-link {
  margin-top: 20px;
}