/*Global changes*/
a {
  color: #671e30;
  text-decoration: underline;
}

input.form-text, input.form-tel,
input.form-email, input.form-url,
input.form-search, input.form-file,
input.form-number, input.form-color,
input.form-date, input.form-time,
textarea, select {
  color: #222222;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #bababa;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #bababa;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #bababa;
}

.field--type-daterange, .field--type-link,
.field--type-entity-reference-revisions,
.field--type-list-string, .field--type-address,
.field--type-entity-reference {

}

a.ldbase-button {
  display: inline-block;
  font-size: 85%;
  font-weight: 500;
  text-decoration: none;
  border: 2px solid #636363;
  padding: 4px 14px;
  margin-top:20px;
  margin-bottom: 15px;
}

a.ldbase-button:hover {
  background-color: #efefef;
}

header.three-columns div.col-12 {
  padding: 0;
}

div#block-portcullis-breadcrumbs nav.breadcrumb {
  padding: 0 20px;
}

/* Global Webform changes */

.choices__list .choices__item--choice {
  color: #111111;
}

.choices__list--multiple .choices__item {
  background-color: #222222;
  border: 1px solid black;
  font-size: 14px;
}

.choices__list--multiple .choices__item.is-highlighted {
  background-color: #b82222;
  border: 1px solid black;
  font-size: 14px;
}

.choices[data-type*="select-multiple"] .choices__button,
.choices[data-type*="text"] .choices__button {
  border-left: 1px solid white;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
  background-color: #222;
  border: 1px solid #000;
  color: white;
  border-radius: 12px;
  padding: 2px 10px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #ddd;
  margin-right: 4px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: #aaa;
}

.webform-multiple-table-responsive td > div > label.visually-hidden {
  display: none;
}

.js-form-submit {
  margin-left: 20px !important;
}

/* Top search styles */
.region--dark-background {
    background-color: #671e30;
}

div#block-ldbaseminimalobjectsearchlinkblock {
  padding: 5px 0 10px 0;
  max-width: 400px;
  display: block;
}

div#block-ldbaseminimalobjectsearchlinkblock input#edit-keys {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding: 3px 10px 3px 15px;
  background: white;
  font-size: 20px;
  border-color: #cdcdcd;
  float: left;
  width: 70%;
  margin-top: 10px;
}

div#block-ldbaseminimalobjectsearchlinkblock input.global-search-submit-button {
  padding: 15px 14px 15px 14px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: black;
  border: 2px solid rgba(200, 200, 200, .5);
  font-size: 95%;
}

div#block-ldbaseminimalobjectsearchlinkblock input.global-search-submit-button:hover {
  background-color: white;
}

div#block-ldbaseminimalobjectsearchlinkblock input#edit-keys::placeholder {
  color: #666;
}

/* Top account menu styles */
nav#block-portcullis-account-menu {
  padding-top: 14px;
}

/* Superfish menu overrides*/
.header-container .sf-shadow.sf-menu.menu ul ul {
  margin-left: 0px;
  margin-right: 0px;
}

.header-container .sf-menu ul li a, .header-container .sf-menu ul li > span {
  padding: 10px 1em 10px;
}

/* Home Page Banner styles */
.path-frontpage .banner {
  background-image: url(../../../../../modules/custom/ldbase_content/images/ldbase-home-banner-2.jpg);
}

.path-frontpage .banner.region--white-background:after {
  background-color: transparent;
}

/* Home page login block styles */

.path-frontpage div#block-userlogin {
  width: 400px;
  float: right;
  background-color: rgba(230, 230, 230, 0.95);
  padding: 0 20px;
  margin: 20px 0;
  border-radius: 15px;
}

.path-frontpage div#block-userlogin a {
  text-decoration: none;
}

.path-frontpage div#block-userlogin a:hover,
.path-frontpage div#block-userlogin a:focus
{
  text-decoration: underline;
}

.path-frontpage div#block-userlogin ul {
  list-style-type: none;
  font-weight: bold;
}

@media only screen and (max-width: 420px) {
  .path-frontpage div#block-userlogin {
    width: 95%;
  }
}

/* Home page content top */
div#content-top {
  display: none;
}

body.user-logged-in div#content-top {
  display:block;
}

body.user-logged-in div#content-top div.content-top__section {
  padding: 55px 0 15px;
}

div.ldbase-home-page-user-block {
  border: 2px solid #cdcdcd;
}

div.ldbase-home-page-user-block div.ldbase-user-info,
div.ldbase-home-page-user-block div.ldbase-user-links
{
  padding: 15px;
}

/* Home page browse area */
div.browse-link-row a.link-div {
  text-decoration: none;
}

div.browse-link-row  a.link-div:hover {
  color: #671e30;
  background-color: #e6e6e6;
}

div.browse-link-row div.link-block {
  width: 200px;
  text-align: center;
  padding: 15px;
}

div.browse-link-row div.link-block h3.link-block-header {
  color: #671e30;
  text-decoration: none;
}

div.browse-link-row div.link-block img {
  height: 48px;
  width: 48px;
}

/* Home page main content region styles */

.path-frontpage div#main-content h1.page-title {
  display: none;
}

/* Home page content bottom styles */
.path-frontpage .content-bottom__container div.views-row {
  padding-left: 20px;
}

.path-frontpage .content-bottom__container div.block-views {
  border-bottom: 1px solid #636363;
  border-left: 1px solid #636363;
  border-right: 1px solid #636363;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.path-frontpage .content-bottom__container div.block-views h2 {
  padding-left: 20px;
}

/* Landing page styles for navigation (i.e. page of Template links) */
nav#block-mainnavigation-2 ul.menu li a::before,
nav#block-mainnavigation-3 ul.menu li a::before,
nav#block-mainnavigation-4 ul.menu li a::before {
  content: none;
}

nav#block-mainnavigation-2 ul.menu,
nav#block-mainnavigation-3 ul.menu,
nav#block-mainnavigation-4 ul.menu {
  list-style: disc;
  padding-inline-start: 40px;
}

nav#block-mainnavigation-2 ul.menu li,
nav#block-mainnavigation-3 ul.menu li,
nav#block-mainnavigation-4 ul.menu li {
  list-style: disc;
}

nav#block-mainnavigation-2 ul.menu li a,
nav#block-mainnavigation-3 ul.menu li a,
nav#block-mainnavigation-4 ul.menu li a {
  color: #671e30;
  text-decoration: underline;
  font-size: inherit;
  padding: 0px;
  line-height: inherit;
}

nav#block-mainnavigation-2 ul.menu li a:hover,
nav#block-mainnavigation-2 ul.menu li a:focus,
nav#block-mainnavigation-3 ul.menu li a:hover,
nav#block-mainnavigation-3 ul.menu li a:focus,
nav#block-mainnavigation-4 ul.menu li a:hover,
nav#block-mainnavigation-4 ul.menu li a:focus {
  color: #464646;
}



/* Content Tasks Section */
div.block-content-edit-link {
  float: left;
}

div.block-content-edit-link div.content {
  padding-right: 15px;
}

div.block-content-delete-link {

}

#open-citation-modal {
  background-color: white;
  border: 2px solid #636363;
  font-size: 13px;
  font-weight: 500;
  color: #671e30;
}

#open-citation-modal:hover {
  background-color: #eeeeee;
}

/* Node Analytics Block */
div.block-node-analytics-block br {
  display: none;
}

/* Styles for all objects */
div.field--name-field-file-version-description div.field__label,
div.field--name-field-file-format div.field__label,
div.field--name-field-file-version-label div.field__label,
div.field--name-field-file-upload div.field__label
{
  float: left;
  margin-right: 6px;
}

div.form-item-published-flag label.option {
  font-weight: 600;
}

div.form-item-harmonized-dataset label.option {
  font-weight: 600;
}

/*Layout Styles for Projects*/

.js-form-item-title, .js-form-item-description, .js-form-item-related-persons,
.js-form-item-related-organizations, .js-form-item-activity-range, .js-form-item-project-type,
.js-form-item-schooling, .js-form-item-curricula, .js-form-item-time-method,
.js-form-item-website, .js-form-item-grant-information, .js-form-item-doi, .js-form-item-published-flag
{
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

body.page-node-type-project h1.page-title{
  margin: 0;
}

body.page-node-type-project .block-field-blocknodeprojectfield-project-logo {
  float: right;
}

body.page-node-type-project .block-field-blocknodeprojectfield-doi {
  border-right: 1px solid black;
  padding: 0 10px 0 0;
  margin-right: 20px;
  display: inline-block;
  float: left;
}

body.page-node-type-project div.block-ldbase-citation-link-block {
  float: left;
  margin-bottom: 10px;
}

body.page-node-type-project div.block-download-all-files-link {
  float:left;
  margin-left: 10px;
}

.download-all-files-button {
  font-size: 13px;
  font-weight: 500;
  color: #671e30;
  text-decoration: none;
  border: 2px solid #636363;
  padding: 5px;
}

.download-all-files-button:hover {
  text-decoration: none;
  background: #eee;
  color: #671e30;
}

body.page-node-type-project .block-field-blocknodeprojectbody div.text-formatted {
  background-color: rgb(249, 236, 190);
  color: #111;
  margin: 10px 0;
  padding: 20px;
  clear: both;
}

body.page-node-type-project div.view-project-latest-datasets {
  margin-top: 30px;
  border-top: 1px solid #dedede;
}

body.page-node-type-project div.view-project-latest-datasets div.views-row {
  padding-bottom: 10px;
}

body.page-node-type-project div.view-project-latest-documents {
  margin-top: 30px;
  border-top: 1px solid #dedede;
}

body.page-node-type-project div.view-project-latest-documents div.views-row {
  padding-bottom: 10px;
}

body.page-node-type-project div.view-project-latest-code {
  margin-top: 30px;
  border-top: 1px solid #dedede;
}

body.page-node-type-project div.view-project-latest-code div.views-row {
  padding-bottom: 10px;
}

/*Layout Styles for Datasets*/

.js-form-item-passed-id, .js-form-item-contributors, .js-form-item-host-organizations,
.js-form-item-participants, .js-form-item-special-populations, .js-form-item-constructs,
.js-form-item-assessment-name, .js-form-item-variable-types-in-dataset, .js-form-item-data-collection-locations,
.js-form-item-time-points, .js-form-item-data-collection-period, .js-form-item-publication-info,
#edit-dataset-unique--wrapper, #edit-license, .js-form-item-doi, #edit-dataset-upload-or-external--wrapper
{
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

body.page-node-type-dataset h1.page-title{
  margin: 0;
}

body.page-node-type-dataset .block-field-blocknodedatasetfield-doi {
  border-right: 1px solid black;
  padding: 0 10px 0 0;
  margin-right: 20px;
  display: inline-block;
  float: left;
}

body.page-node-type-dataset div.block-ldbase-citation-link-block {
  float: left;
  margin-bottom: 10px;
}

body.page-node-type-dataset div.block-dataset-subscription-link {
  float:left;
  margin-left: 10px;
}

.dataset-subscription-button {
  font-size: 13px;
  font-weight: 500;
  color: #671e30;
  text-decoration: none;
  border: 2px solid #636363;
  padding: 5px;
}

.dataset-subscription-button:hover {
  text-decoration: none;
  background: #eee;
  color: #671e30;
}

body.page-node-type-dataset .block-field-blocknodedatasetfield-dataset-upload-or-external {
  clear: both;
}

body.page-node-type-dataset .block-field-blocknodedatasetbody div.text-formatted {
  background-color: rgb(249, 236, 190);
  color: #111;
  margin: 10px 0;
  padding: 20px;
  clear: both;
}

fieldset#edit-dataset-upload-or-external--wrapper legend span,
fieldset#edit-dataset-unique--wrapper legend span
{
  font-weight: 600;
  color: #333;
}

body.page-node-type-dataset div.view-project-latest-documents {
  margin-top: 30px;
  border-top: 1px solid #dedede;
}

body.page-node-type-dataset div.view-project-latest-documents div.views-row {
  padding-bottom: 10px;
}

body.page-node-type-dataset div.view-project-latest-datasets {
  margin-top: 30px;
  border-top: 1px solid #dedede;
}

body.page-node-type-dataset div.view-project-latest-datasets div.views-row {
  padding-bottom: 10px;
}

body.page-node-type-dataset div.view-project-latest-code {
  margin-top: 30px;
  border-top: 1px solid #dedede;
}

body.page-node-type-dataset div.view-project-latest-code div.views-row {
  padding-bottom: 10px;
}

div.field--name-field-file-upload div.field__item span.file a {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

div.field--name-field-file-upload div.field__item span.file a:hover {
  text-decoration: none;
  background-color: #444;
  color: #fff;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #333;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #333;
}

div.field--name-field-file-upload div.field__item span.file a:after {
  padding-left: 10px;
  content: "▼";
}

/* no trailing colon on unique data field label*/
.field--name-field-data-unique-or-derived .field__label_no_colon::after {
  content: '';
  visibility: hidden;
}

/* Tooltip container */
.unique-data-tooltip {
  display: inline-block;
  box-sizing: content-box;
  width: 14px;
  height: 14px;
  margin: 0 0.3em;
  text-align: center;
  vertical-align: baseline;
  color: #000;
  border: 2px solid #bbb;
  border-radius: 50%;
  background: #bbb;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
}

.unique-data-tooltip-text::after {
  content: " ";
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
  margin-top: 0px;
  margin-left: 10px;
  border-width: 15px;
  border-style: solid;
  border-color: #ccc transparent transparent transparent;
  top: 100%;
  right: 35px;
}

/* Tooltip text */
.unique-data-tooltip-text {
  visibility: hidden;
  width: 300px;
  line-height: 20px;
  padding: 10px;
  margin-left: -250px;
  margin-top: -160px;
  font-size: 14px;
  text-align: center;
  color: #2a2a2a;
  background: rgb(255, 255, 255);
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px 0px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.unique-data-tooltip:hover
{
  cursor: help;
  color: #000;
  border: 2px solid #0074bd;
  background: #0074bd;
}

/* Show the tooltip text when you mouse over the tooltip container */
.unique-data-tooltip:hover .unique-data-tooltip-text,
.unique-data-tooltip:hover .unique-data-tooltip-text::after
{
  visibility: visible;
}

/*Layout Styles for Documents*/

.js-form-item-document-type, .js-form-item-authors
{
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

body.page-node-type-document h1.page-title{
  margin: 0;
}

body.page-node-type-document .block-field-blocknodedocumentfield-doi {
  border-right: 1px solid black;
  padding: 0 10px 0 0;
  margin-right: 20px;
  display: inline-block;
  float: left;
}

body.page-node-type-document .block-field-blocknodedocumentbody div.text-formatted {
  background-color: rgb(249, 236, 190);
  color: #111;
  margin: 10px 0;
  padding: 20px;
  clear: both;
}

div.field--name-field-document-file div.field__item span.file a {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

div.field--name-field-document-file div.field__item span.file a:hover {
  text-decoration: none;
  background-color: #444;
  color: #fff;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #333;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #333;
}

div.field--name-field-document-file div.field__item span.file a:after {
  padding-left: 10px;
  content: "▼";
}

/*Layout Styles for Code*/

.js-form-item-code-type
{
  border-top: 1px solid #ccc;
  padding-top: 15px;
}

body.page-node-type-code h1.page-title{
  margin: 0;
}

body.page-node-type-code .block-field-blocknodecodefield-doi {
  border-right: 1px solid black;
  padding: 0 10px 0 0;
  margin-right: 20px;
  display: inline-block;
  float: left;
}

fieldset#edit-code-upload-or-external--wrapper legend span
{
  font-weight: 600;
  color: #333;
}

body.page-node-type-code .block-field-blocknodecodebody div.text-formatted {
  background-color: rgb(249, 236, 190);
  color: #111;
  margin: 10px 0;
  padding: 20px;
  clear: both;
}

div.field--name-field-code-file div.field__item span.file a {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

div.field--name-field-code-file div.field__item span.file a:hover {
  text-decoration: none;
  background-color: #444;
  color: #fff;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #333;
  border-right: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  border-left: 1px solid #333;
}

div.field--name-field-code-file div.field__item span.file a:after {
  padding-left: 10px;
  content: "▼";
}

/*Layout Styles for Persons*/
body.page-node-type-person div.field--name-field-thumbnail {
  float: right;
}

div.view-person-project-contributions div.views-row {
  border: 1px solid #cdcdcd;
  padding: 10px 15px;
  margin-bottom: 10px;
}

div.view-person-project-contributions div.views-field-title a {
  display: inline;
}

/* Layout styles for user dashboard */
body.path-user h1.page-title {
  display: none;
}

body.path-user div.block-add-project-button {
  float: left;
  padding-right: 20px;
}

div.user-project-list div.views-row {
  border: 1px solid #cdcdcd;
  padding: 10px 15px;
}

div.user-project-list .font-awesome-icon {
  float: left;
  position: relative;
  font-size: 18px;
}

div.user-project-list .ldbase-profile-project-link {
  margin-left: 30px;
  margin-top: 0px;
}

div.eva-person-user-profile div.views-row {
  border: 1px solid #cdcdcd;
  padding: 15px;
  float: left;
  width: 100%;
}

div.eva-person-user-profile div.views-field-field-thumbnail {
  float: right;
}

.col-12 .view-my-messages > .more-link a {
  font-weight: 500;
  float: left;
  color: #671e30;
  padding: 10px 20px;
}

/* Layout styles for Mailbox page */

div.view-my-messages select {
  margin-top: 0;
}

div.view-my-messages .form--inline .form-actions {
  float: left;
  clear: none;
  padding-top: 30px;
}

/* Layout styles for search page */
div.view-search {
  margin-top: -1em;
}

div.view-search div.view-header {
  margin-bottom: 1em;
}

div.view-search div.form-item {
  margin-top: 0;
  margin-bottom: 1em;
}

div.view-search div#edit-actions {
  margin-top: -1em;
}

#views-exposed-form-search-page-1 > div
> div.js-form-item.form-item.js-form-type-search-api-autocomplete.form-type-search-api-autocomplete {
  float: none;
}

#views-exposed-form-search-page-1 > div
> div.form-item-search-api-fulltext,
#views-exposed-form-search-page-1 > div
> div.form-item-search-api-fulltext-1,
#views-exposed-form-search-page-1 > div
> div.form-item-search-api-fulltext-2
{
  width: 80%;
}

#views-exposed-form-search-page-1 > div
> div.form-item-search-api-fulltext-1,
#views-exposed-form-search-page-1 > div
> div.form-item-search-api-fulltext-2
{
  display: none;
}

#views-exposed-form-search-page-1 input#edit-submit-search {
  float: right;
  margin-right: 10px;
  margin-bottom: 15px;
}

#block-searchfacetparticipantageminimum, #block-searchfacetparticipantagemaximum {
  padding: 0;
}

.path-search .form-item.form-type-textfield {
  width: 100%;
  margin: 0.5em;
}

div.region-sidebar-first div.block-facet--links {
  padding: 0;
}

#block-portcullis-content > div > div > div > div.view-content > div.views-row {
  background: #ebebeb;
  margin-bottom: 1em;
  padding: 1em;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
}

#block-portcullis-content > div > div > div > div.view-content > div.views-row h3 {
  margin: 0;
}

.facet-pills__pill {
  margin-top: 5px;
}

.facet-pills__pill__link, .facet-pills__pill__link:hover, .facet-pills__pill__link:visited {
  background-color: #222;
  color: #FFF;
  padding: 5px 25px 5px 10px;
}

.facet-pills__pill__link::after{
  color: #FFF;
  right: 0.6em;
}

#block-activefacetpillsblock {
  padding: 0;
}

div.facets-widget-links {
  margin-bottom: 1em;
}

div.facets-widget-links ul {
  margin-block-end: 0;
}

a.facets-soft-limit-link {
  font-weight: bold;
  padding-left: 40px;
}

li.facet-item a.is-active {
  font-weight: bold;
}

li.facets-reset {
  display: block;
  margin-top: -20px;
  margin-left: -20px;
  padding-bottom: 10px;
}

/* Styling for Project View block */
div#project-tree-view-wrapper {
  font-size: 12px;
  font-weight: bolder;
  color: #671e30;
}

div#project-tree-view-wrapper a {
  text-decoration: none;
}

div#project-tree-view-wrapper a:hover {
  text-decoration: underline;
}

div#project-tree-view-wrapper ul {
  padding-left: 15px;
  list-style-type: none;
}

li.project-tree-view-item-current:before {
  content: "\25BA \0020";
  padding-left: 0;
  color: #2a2a2a;
  margin-left: -13px;
}

li.project-tree-view-item-current > a {
  color: #dc143c;
}

/* Styling for Social Media Buttons */
div#block-socialmediablock {
  padding: 0;
}
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--email {
  background-color: #777
}

.resp-sharing-button--email:hover {
  background-color: #5e5e5e
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--email {
  background-color: #777777;
  border-color: #777777;
}

.resp-sharing-button--email:hover,
.resp-sharing-button--email:active {
  background-color: #5e5e5e;
  border-color: #5e5e5e;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
  border-color: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  background-color: #3a80c1;
  border-color: #3a80c1;
}

/* General Tasks Menus */
ul.menu li a.menu-drop-down {
  padding-right: 40px !important;
}

/* Project Tasks Menu */
h2#block-projecttasks-2-menu {
  display: none;
}

nav#block-projecttasks-2 h2#block-projecttasks-2-menu {
  border: none;
}

nav#block-projecttasks-2 ul.menu li {
  float: left;
  border: 2px solid black;
  padding-right: 16px;
  margin-right: 10px;
}

nav#block-projecttasks-2 ul.menu li:hover {
  background-color: #ededed;
}

nav#block-projecttasks-2 ul.menu li a {
  font-weight: 500;
  color: #671e30;
  font-size: 85%;
  padding: 5px 0 6px 16px;
}

nav#block-projecttasks-2 ul.menu li a:before {
  content: none;
}

nav#block-projecttasks-2 ul.menu li.menu-item--expanded ul {
  display: none;
  position: absolute;
  clear: both;
  background-color: white;
  padding: 0;
  border: 1px solid #ccc;
  min-width: 180px;
}

nav#block-projecttasks-2 ul.menu li.menu-item--expanded ul.menu li {
  border: none;
  width: 100%;
}

nav#block-projecttasks-2 ul.menu li.menu-item--expanded:hover > ul {
  display: block;
  z-index: 9999;
}

/* Second Project Tasks Menu */

nav.menu--second-project-tasks {
  margin-top: 20px;
}

nav.menu--second-project-tasks ul.menu li {
  float: left;
  border: 2px solid black;
  padding-right: 16px;
  margin-right: 10px;
}

nav.menu--second-project-tasks ul.menu li:hover {
  background-color: #ededed;
}

nav.menu--second-project-tasks ul.menu li a {
  font-weight: 500;
  color: #671e30;
  font-size: 85%;
  padding: 5px 0 6px 16px;
}

nav.menu--second-project-tasks ul.menu li a:before {
  content: none;
}

/* Dataset Tasks Menu */
h2#block-datasettasks-menu {
  display: none;
}

nav#block-datasettasks h2#block-datasettasks-menu {
  border: none;
}

nav#block-datasettasks ul.menu li {
  float: left;
  border: 2px solid black;
  padding-right: 16px;
  margin-right: 10px;
}

nav#block-datasettasks ul.menu li:hover {
  background-color: #ededed;
}

nav#block-datasettasks ul.menu li a {
  font-weight: 500;
  color: #671e30;
  font-size: 85%;
  padding: 5px 0 6px 16px;
}

nav#block-datasettasks ul.menu li a:before {
  content: none;
}

nav#block-datasettasks ul.menu li.menu-item--expanded ul {
  display: none;
  position: absolute;
  clear: both;
  background-color: white;
  padding: 0;
  border: 1px solid #ccc;
  min-width: 180px;
}

nav#block-datasettasks ul.menu li.menu-item--expanded ul.menu li {
  border: none;
  width: 100%;
}

nav#block-datasettasks ul.menu li.menu-item--expanded:hover > ul {
  display: block;
  z-index: 9999;
}

/* Second Dataset Tasks Menu */

nav.menu--second-dataset-tasks {
  margin-top: 20px;
}

nav.menu--second-dataset-tasks ul.menu li {
  float: left;
  border: 2px solid black;
  padding-right: 16px;
  margin-right: 10px;
}

nav.menu--second-dataset-tasks ul.menu li:hover {
  background-color: #ededed;
}

nav.menu--second-dataset-tasks ul.menu li a {
  font-weight: 500;
  color: #671e30;
  font-size: 85%;
  padding: 5px 0 6px 16px;
}

nav.menu--second-dataset-tasks ul.menu li a:before {
  content: none;
}

/* Code Tasks Menu */
h2#block-codetasks-menu {
  display: none;
}

nav#block-codetasks h2#block-codetasks-menu {
  border: none;
}

nav#block-codetasks ul.menu li {
  float: left;
  border: 2px solid black;
  padding-right: 16px;
  margin-right: 10px;
}

nav#block-codetasks ul.menu li:hover {
  background-color: #ededed;
}

nav#block-codetasks ul.menu li a {
  font-weight: 500;
  color: #671e30;
  font-size: 85%;
  padding: 5px 0 6px 16px;
}

nav#block-codetasks ul.menu li a:before {
  content: none;
}

nav#block-codetasks ul.menu li.menu-item--expanded ul {
  display: none;
  position: absolute;
  clear: both;
  background-color: white;
  padding: 0;
  border: 1px solid #ccc;
  min-width: 180px;
}

nav#block-codetasks ul.menu li.menu-item--expanded ul.menu li {
  border: none;
  width: 100%;
}

nav#block-codetasks ul.menu li.menu-item--expanded:hover > ul {
  display: block;
  z-index: 9999;
}

/* Document Tasks Menu */
h2#block-documenttasks-menu {
  display: none;
}

nav#block-documenttasks h2#block-documenttasks-menu {
  border: none;
}

nav#block-documenttasks ul.menu li {
  float: left;
  border: 2px solid black;
  padding-right: 16px;
  margin-right: 10px;
}

nav#block-documenttasks ul.menu li:hover {
  background-color: #ededed;
}

nav#block-documenttasks ul.menu li a {
  font-weight: 500;
  color: #671e30;
  font-size: 85%;
  padding: 5px 0 6px 16px;
}

nav#block-documenttasks ul.menu li a:before {
  content: none;
}

nav#block-documenttasks ul.menu li.menu-item--expanded ul {
  display: none;
  position: absolute;
  clear: both;
  background-color: white;
  padding: 0;
  border: 1px solid #ccc;
  min-width: 180px;
}

nav#block-documenttasks ul.menu li.menu-item--expanded ul.menu li {
  border: none;
  width: 100%;
}

nav#block-documenttasks ul.menu li.menu-item--expanded:hover > ul {
  display: block;
  z-index: 9999;
}

/* Subfooter Styles */
p#subfooter-disclaimer {
  font-size: 90%;
}

p#subfooter-sponsor {
  float: right;
}

/* Cookie Alert Styles */
div.eu-cookie-compliance-message {
  line-height: 13px;
  padding: 10px 0px;
}

div.eu-cookie-compliance-message p {
  font-weight: 200;
}

div.eu-cookie-compliance-message p span {
  font-weight: 500;
}

div.eu-cookie-compliance-message a {
  color: white;
}

/* Profile Form Styles */
div.webform-multiple-table tr.even td {
  background-color: #ededed;
}
