/**
 * @file
 * Use this CSS file to override components CSS rules
 */
a.button,
.button>a,
button.button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}


a.button.button--hover-style-2:before,
.button.button--hover-style-2>a:before {
  border-radius: 10px;
}

/**
* overrides action-button class from classy theme
*/
.button-action:before {
  margin-left: 0em;
  /* LTR */
  padding-right: 0em;
  /* LTR */
  content: "";
  font-weight: 900;
}
